$light-gray: #e8e8e8;
$dark-gray: #bbbfca;
$red-color: #e23e57;
$medium-red: #88304e;
$dark-red: #903749;
$yellow: #ffd966;
$light-powder: #fff2cc;
$medium: #f4b183;
$dark: #dfa67b;
$powder-2: #f4eee0;
